!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %title B.O.O.B.S. Saves the Day

    %script{src: "http://olado.github.io/doT/doT.min.js"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}
    %script{src: "Dedalus/src/dedalus.js"}
    %script{src: "Dedalus/src/dedalus-web.js"}
    %script{src: "lib/howler.min.js"}

    %link{rel: "stylesheet", href: "Dedalus/src/html/themes/thewriter/story.css"}
    %link{rel: "stylesheet", href: "boobs.css"}
  %body
    #story
      %initscript
        story.missions = {}
        story.seen = {}
      %title
        B.O.O.B.S. Saves the Day (r19)
      %beforeEveryThing
        stopSound(story.backgroundSound);

      %beforeEveryPageTurn

      %beforeEveryParagraphShown

      %afterEveryThing

      %afterEveryPageTurn

      %afterEveryParagraphShown

      %obj#teleporter-bracelet{inventoryName: 'Teleporter bracelet'}
        %action#Examine
          You thought those teleporters are sci-fi, well, not in this reality.

      %page#intro
        Welcome to the alternative reality where a secret organization of hackers,
        scientists, and utopists have invented a teleporter and decided to build a
        operational base on the moon, waiting for their time to change the world.

        %h3 Technical notes
        The author's first language is German, if you happen to find
        grammatical errors feel free to keep them.
        %br
        The game is first a submission to
        %a{href: 'http://www.ludumdare.com/compo/ludum-dare-27/?action=preview&uid=3562'} Ludum Dare
        compo. The theme was 10 seconds and you'll
        find it referenced within the story. The game will also be a submission to the
        %a{href: 'http://theboobjam.com/'} Boob Jam
        and yes, it's a text adventure.
        %br
        Overall, the scope of the story is roughly {{ out += countWords(); }} words, far less than
        I had hoped for but it has only one loose end where the next mission would
        start and I plan to write more of those.
        %br
        One thing I had in mind was some sort of progress bar when you
        find out bits about your past and regain your memory.
        %br
        The source code can be found on
        %a{href: 'http://github.com/tomk32/boobs'} github.

        %h3 Credits
        %a{href: 'https://github.com/pistacchio/Dedalus'} Dedalus
        the engine,
        %a{href: 'http://howlerjs.com'} Howler
        to manage the sounds.
        %br
        Sounds came from
        %a{href: 'http://www.freesound.org/people/reacthor/sounds/130248/'} reacthor
        ,
        %a{href: 'http://www.freesound.org/people/loljames/sounds/116342/'} loljames
        and myself. Audacity has been used to modify the sounds.
        %br
        Typos have been found by: gabi, iFire

      %page#start.first
        %h3 Start the game
        Go on,
        %turn{to: 'hall'} start the story.

      %page#hall
        %character#miller
          %action{id: 'What is this place?'}
            Hello Devi, this is the
            %show{paragraph: 'BOOBS'} B.O.O.B.S.
            secret Moon base.
          %action{id: 'Who are you?'}
            I'm Professor Angelica Miller, B.O.O.B.S.' chief scientic officer,
            formerly a
            %show{paragraph: 'rocketscience'} NASA rocket science.
          %action{id: 'Why am I here?'}
            You are here because years ago you had this place created by
            robots using the teleporter you invented. But tragically you
            lost your memory on one of your trips home and it took us quite
            some while to find you again. And your
            %show{paragraph: 'sex-change'} sex-change
            before you lost your memory
            didn't make our search easier.
            %br
            Don't worry, your memory will come back to you.
            %br
            In the meanwhile take this teleporter bracelet and go to Commander Kaur in the mission control.
            {{ story.putInInventory('teleporter-bracelet'); }}
          %paragraph#rocketscience
            Slightly impressed about the first rocket scienist you meet in your life, you ask
            %em I was teleported here, so where's the space rockets?
            %em
              Well, we don't have any. Looks like I took the wrong career path, but not all my
              knowledge has become redundant, I'd like to think of myself as a hands-on
              space scientist. That was before I started to hate this low gravity shit.
              %br
              Oh how I miss the old rocket science, they always allowed me to do the count down:
              10 seconds, 9, 8...
            Her mind seems to drift off, you better change the topic quick.
          %paragraph#sex-change
            {{ seen('sex-change'); }}
            %em Wait, I had a sex-change?
            you ask the professor.
            %em Yes, and if you managed to forget that, it must have been an excellent procedure.
            she replies.
          %paragraph#BOOBS
            %em What boobs?
            you ask the professor, with a tiny grin in the back of your mind.
            %em
              B.O.O.B.S., not boobs, is the name of the secret uptopian organization you've created.
              Honestly we don't know what B.O.O.B.S. actually stands for, you never told us.
              And stop grinning about your own terrible jokes.

        %p
          {{ playBackgroundSound('hall'); }}
          {{? !hasSeen('hall') }}
          {{ seen('hall'); }}
          {{ playSound('teleporter'); }}
          You've just been teleported from Earth into the moonbase's big Hall and a
          %interact{with: 'miller'} woman dressed in a white coat
          is ushering you off the teleporter platform.
          {{??}}
          You stand in the big Hall and you see
          %interact{with: 'miller'} Professor Miller
          working on some aparatus by the teleporters.
          {{?}}

        %p
          The Hall has a huge glass ceiling showing nothing but blackness and stars,
          you can also see a slender tower, a lookout aparently and reachable by a
          %turn{to: 'lookout'} spiral staircase.
          On the far end you see a sort of
          %turn{to: 'missionControl'} control center
          with a lot of workstation and monitors.
          {{? hasSeen('canteen') }}
          On the left there's the door to the
          %turn{to: 'canteen'} canteen.
          {{?}}

      %page#lookout
        {{ playBackgroundSound('static'); }}
        You can see the Earth sneaking over the moon's horizon, all you see of Earth
        is a part of the Pacific Ocean.
        %img{src: 'images/lookout.jpg', width: '500px'}

        %p
          Climb the stairs down
          %turn{to: 'hall'} to the Hall

      %page#missionControl
        %p
          The mission control is just a section of the big
          %turn{to: 'hall'} Hall
          give it a more overflowing look than it would have as normal room.
          A large grid of displays depicts the earth with a few circles
          around points of interest. In front of this stand a dozen work islands
          with two to four computers each.
        %p
          Between the workplaces
          %turn{to: 'kaurMissionControl'} Cmd Kaur
          is walking, occassionally talking with one of those at the computers and
          other instruments.

      %page#kaurMissionControl
        %em Hello Devi. How are, still recovering from your memory loss?
        {{? !story.isInInventory('teleporter-bracelet') }}
        %br
        You should go see
        %turn{to: 'hall'} Professor Miller
        in the Hall and get a teleporter bracelet from her. Come back after you got the gun and
        I might have a mission for you.
        {{??}}
        %ul#missions
          {{? !story.missions.manning }}
          %li
            %turn{to: 'manning'} Kidnap Chelsea Manning
          {{??}}
          Aparently we've ran out of time and missions.
          But please send the creator of this game
          %a{href: 'mailto:tomk32@gmail.com?subject=I%20want%20to%20talk%20about%20BOOBS'} a few lines of encouragement
          %strong You finished the game!
          {{?}}
        {{?}}
        %p
          %turn{to: 'hall'} Return to the Hall

      %page#manning
        Okay Devi, we'll go over to the stationary
        %show{paragraph: 'howTeleportingWorks'} teleporters.
        Private Roldóttir will join us, I can't send you alone on your first mission.
        %paragraph#howTeleportingWorks
          In order for a safe teleport we need to land in a room that is most likely empty.
          That's the reason why we won't teleport directly into Manning's cell but outside of it.
          We'll have to crack the lock but Private Roldóttir is an expert for that.
          %br
          %turn{to: 'militaryPrison'} Okay, let's teleport.
      %page#militaryPrison
        %character#rememberingProfMiller
          %action{id: 'Something about laser guns'}
            %em I think she mentioned laser guns.
            %br
            %em I'm sorry dear,
            Commander Kaur interrupts,
            %em we don't have any guns at all.
          %action{id: 'My past before my memory loss'}
            <when>hasSeen('sex-change')</when>
            She said I had a sex-change before my memory loss. I have the XY chromosoms we need for the lock!
            %turn{to: 'militaryPrisonCell'} Let's open this door!
          %action{id: "The force is strong"}
            <when>!hasSeen('sex-change')</when>
            I think she said the force is strong with me, let's try
            %turn{to: 'endPrison'} break that dooor.
          %action{id: "Nevermind: Let's abort the mission!"}
            <when>!hasSeen('sex-change')</when>
            It's no hope, we need to get back to base and think about a way to break the door.
            %turn{to: 'hallManning'} Teleport back to the moon.
        %p
          {{ playSound('teleporter'); }}
          Your second ever, well, as far as you can remember, teleport felt a lot easier
          than the last one. Perhaps it's just using the teleporter pads instead of the
          bracelet that makes the jumps feel more comfortable.
          %show{paragraph: 'two'} cont.
        %paragraph#two
          %img{src: 'images/prison-corridor.jpg', width: '500px'}
          %p
            You are in a darkish, narrow corridor. You landed at what you consider the far end
            of the corridor, right in front of a door. Cmd Kaur knocks on the door and from
            inside the distinct but faint voice of Chelsa Manning asks who's there.
            %em Yup, that's the right one. Hello Chelsea Manning, we're here to get you out.
            %turn{to: 'prisonDoor'} cont.
      %page#prisonDoor
        Private Roldóttir is already having a look at the electronic lock.
        %em
          Commander, there's a little problem, it's not the lock I expected.
          They installed an additional electronic lock, specifically for male prisons,
          the only lock on the planet that's doing super fast genetic tests.
          Originally designed for Mormon households, adapted by a few states
          to decrease bribery and prostitution in county prisons...
        %em
          Oh I see, I'm boring you with details.
          In short: We need someone with XY chromosoms to open this door.
        %turn{to: 'gettingIntoTheCell'} The three of us, we are all women. What now?
      %page#endPrison
        The three of you slam against the door, hit the electronic locks but to now prevail.
        In the process you damage your teleporter-bracelet and it gives a strong electric
        hit to everyone. You lose.
        {{ story.endGame(); }}
      %page#gettingIntoTheCell
        %dl.dialog
          %dt Cmd Kaur
          %dd We couldn't just break through the door?
          %dt Private Roldóttir
          %dd No it's to heavy
          %dt Devi
          %dd How about teleporting?
          %dt Cmd Kaur
          %dd
            No, our bracelets have only enough energy for one teleport, we do have a spare one,
            but that's for Chelsea.
          %dt Devi
          %dd
            Oh wait a second, I remember
            %interact{with: 'rememberingProfMiller'} something Professor Miller said to me!
      %page#militaryPrisonCell
        The air inside the cell is surprisingly fresh, Manning standin at the far end
        of the small cell, looking confused about the three female "visitors".
        %dl
          %dt Manning
          %dd Who are you? Why are you in here?
          %dt Cmd Kaur
          %dd We are here to rescue you, take this bracelet and put it around your wrist
        She shows him her own bracelet to give him a bit more security about the whole
        situation and her request. While he's it putting, Roldóttir grabs the hands of
        Devi and the Commander, Devi remember this from today's first teleport, searching
        Kaur's face for a nod and as Manning is finished they grab her hands and
        Manning's question
        %em And what's next?
        fades in the empty cell as they
        %turn{to: 'hallManning'} teleport to the moon.
        {{ story.missions.manning = true; }}
      %page#hallManning
        {{ playSound('teleporter'); }}
        {{ playBackgroundSound('hall'); }}
        {{? story.missions.manning }}
        The teleport completes and Chelsea Manning, still waiting for a reply to her
        question, needs a few seconds to realize the change in light, air and location.
        %dl
          %dt Manning
          %dd What the hell is going on?
          %dt Cmd Kaur
          %dd
            Don't worry, you are save here. We are a secret organization which is trying
            to change the world. And you're the first we rescued of the imprisoned hackers, journalists,
            artists, well anyone who's in prison for speaking their mind or obeys orders
            and follows their conscience.
            %br
            Oh, and welcome to the Moon.
          %dt Mannin
          %dd The Moon?
          %dt Professor Miller
          %dd
            Yes, the Moon. My name is Professor Miller, if you please would like to follow me,
            I bet you want to get some nicer clothes and try the best cantine this side of the Moon.
        The two leave the scene and
        %show{paragraph: 'debriefingRoldottir'} Cmd Kaur turns to the Private
        {{??}}
        You arrive at the Hall, the mission failed.
        %br
        %show{paragraph: 'debriefingRoldottir'} Cmd Kaur turns to the Private
        {{?}}
        %paragraph#debriefingRoldottir
          %dl
            %dt Cmd Kaur
            %dd
              What was going on down there? I thought our last intel regarding the lock
              was only a few days old.
            %dt Roldóttir
            %dd I don't know Commander, but the genetic lock looked like it was installed only yesterday.
            %dt Cmd Kaur
            %dd Okay, we'll leave it at that. Dismissed Private.
            %dd
              %show{paragraph: 'debriefingDevi'} Now Devi, your memory is still not fully recovered?
        %paragraph#debriefingDevi
          %em No,
          you reply,
          %em and I can't still imagine that I was involved in creating all this.
          %br
          %em Not just involved, Devi, you started it!
          %br
          %em
            Well, you must be hungry, the
            %turn{to: 'canteen'} canteen
            is one of the
            oldest facilities we have, maybe a visit there and a good meal will bring back some memories.
            You find me in the mission control when you are ready for the next operation.

      %page#canteen
        {{ seen('canteen'); }}
        Indeed the canteen, just through where the Professor and Manning left, looked
        older than the big Hall. I guess you have to make small steps when landing on the Moon.
        %br
        On the left you see a self-service area. Tables of different size and comfy looking chairs take the
        most of this rectangular hall. At the far side you see the only windows, some reaching
        from the bottom to the top of the four meter high walls. Outside you think you can see a
        a
        %show{paragraph: 'crashedSaucer'} crashed flying saucer.

        %p
          Return to the big
          %turn{to: 'hall'} Hall
          or the
          %turn{to: 'missionControl'} Mission Control

        %paragraph#crashedSaucer
          There's nothing special about this one, you remember history lessons in school
          about the
          %a{href: '#', title: 'This is an alternative reality after all'} Area 51 incident
          how those poor aliens in their rather primitive
          rescue pods crashed on earth. They didn't survive Earth's athmosphere for long
          and President Eisenhower granted them a state funeral. Just in case their
          relatives stopped by. But you can't remember any reports about a pod crashing
          onto the Moon.

      %page#barretBrown

      %page#london
      %page#gulag
      %page#rio
      %page#tauCeti

    #wrapper
      #header
        %h1
          %a#title{href: '/'}
        An
        %a{href: 'http://ananasblau.com/'}Ananasblau Games
        production •
        %a{href: 'http://ananasblau.com/subscribe_newsletter'} Subscribe the newsletter!
        %br
        %a{href: 'http://freebarrettbrown.org'} Free Barrett Brown

      #inventoryHostWrapper
        %h2 Inventory
        #inventoryHost
      #host
      .clear
      %hr
      .indented
        %p
          %a{href: '#', onclick: "$('#comments').show(); $(this).remove()"} Show comments
        %div#comments{style: "display: none"}
          :plain
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'boobssavestheday'; // required: replace example with your forum shortname
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <p>
              <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </p>

  #interactionHost

  #undoStageHost

  #footer
    %a#undoHost{href: "#"} Undo
    &bull;
    %a#saveHost{href: "#"} Save
    &bull;
    %a#restoreHost{href: "#"} Restore
    &bull;
    %a#resetHost{href: "#"} Reset

  :javascript
    $(function () {
        new DedalusWeb({
            domSource         : $('#story'),
            domTarget         : $('#host'),
            titleTarget       : $('#title'),
            inventoryTarget   : $('#inventoryHost'),
            interactionTarget : $('#interactionHost'),
            undoTarget        : $('#undoHost'),
            undoStageTarget   : $('#undoStageHost'),
            saveTarget        : $('#saveHost'),
            restoreTarget     : $('#restoreHost'),
            resetTarget       : $('#resetHost'),
        });
    });
    function seen(what) {
      if(!story.seen) { story.seen = {}; }
      story.seen[what] = true;
    }
    function hasSeen(what) {
      return story.seen && story.seen[what];
    }
    sounds = {}
    soundBase = 'sounds/';
    function stopSound(file) {
      if (typeof(file) != 'undefined' && window.sounds[file]) {
        window.sounds[file].stop();
      }
    }
    function playSound(file, options) {
      if (!window.sounds[file]) {
        files = [soundBase + file + '.mp3', soundBase + file + '.ogg']
        window.sounds[file] = new Howl($.extend(options, {
          urls: files
        }));
      }
      window.sounds[file].play();
    }
    function playBackgroundSound(file) {
      stopSound(story.backgroundSound)
      playSound(file, {loop: true})
      story.backgroundSound = file
    }
    function countWords() {
      return $('page').not('#intro').text()
        .replace(/(^\s*)|(\s*$)/gi,"")
        .replace(/\{\{.*?\}\}/g, '')
        .replace(/[\r\n]+/g," ")
        .replace(/[ \t]+/gi," ")
        .split(' ').length ;
    }
